test/fixtures/stock_quote.wsdl

<?xml version="1.0"?>
<!-- example borrowed and extended from http://cs.au.dk/~amoeller/WWW/webservices/wsdlexample.html -->
<definitions name="StockQuote"
             targetNamespace="http://example.com/stockquote.wsdl"
             xmlns:tns="http://example.com/stockquote.wsdl"
             xmlns:xsd1="http://example.com/stockquote.xsd"
             xmlns:xsd2="http://example.com/stockquote2.xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>
    <schema targetNamespace="http://example.com/stockquote.xsd"
            xmlns:xsd3="http://example.com/stockquote.xsd"
            xmlns="http://www.w3.org/2001/XMLSchema">
      <attributeGroup name="BaseRequestAttributes">
        <attribute name="signature" type="xs:string"/>
      </attributeGroup>
      <complexType name="Price">
        <simpleContent>
          <extension base="xs:string">
            <attribute name="currency" type="xs:string"/>
          </extension>
        </simpleContent>
      </complexType>
      <element name="TradePrice">
         <complexType>
           <all>
             <element name="Price" type="xsd3:price"/>
           </all>
         </complexType>
      </element>
      <element name="specialTickerSymbol" type="xsd2:TickerSymbol"/>
      <element name="authentication">
        <sequence>
          <element name="username" type="xs:string"/>
          <element name="password" type="xs:string"/>
        </sequence>
      </element>
      <element name="tradePriceRequestHeader">
        <sequence>
          <element name="requestID" type="xs:string"/>
        </sequence>
      </element>
      <element name="tradePriceRequest" type="xsd1:TradePriceRequest" />
      <complexType name="xsd1:TradePriceRequest" abstract="false">
        <complexContent>
          <extension base="xsd1:BaseRequest">
            <sequence>
              <element name="tickerSymbol" type="xs:string" maxOccurs="5"/>
              <element ref="tns:specialTickerSymbol" maxOccurs="unbounded"/>
            </sequence>
            <attribute name="id" type="xs:string"/>
          </extension>
        </complexContent>
      </complexType>
      <element name="xsd1:HistoricalPrice">
        <complexType>
          <sequence>
            <element name="date" type="xs:date"/>
            <element name="price" type="xs:float"/>
          </sequence>
        </complexType>
      </element>
      <element name="historicalPriceRequest" type="xsd1:HistoricalPriceRequest" />
      <complexType name="xsd1:HistoricalPriceRequest">
        <complexContent>
          <extension base="xsd1:BaseRequest">
            <sequence>
              <element name="dateRange">
                <complexType>
                  <sequence>
                    <element name="startDate" maxOccurs="1" type="xs:string" />
                    <element name="endDate" maxOccurs="1" type="xs:string" />
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="BaseRequest">
        <sequence>
          <element name="accountId" type="xs:string" maxOccurs="1"/>
        </sequence>
        <attributeGroup ref="tns:BaseRequestAttributes" />
      </complexType>
    </schema>

    <schema targetNamespace="http://example.com/stockquote2.xsd"
            xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="TickerSymbol">
        <sequence>
          <element name="name" type="xs:string" maxOccurs="1"/>
        </sequence>
      </complexType>
    </schema>
  </types>

  <message name="GetLastTradePriceInputHeader">
    <part name="header" element="xsd1:tradePriceRequestHeader"/>
    <part name="header2" element="xsd1:authentication"/>
  </message>

  <message name="GetLastTradePriceInput">
    <part name="foo" xmlns:foo="http://example.com/stockquote.xsd" element="xs:string"/>
    <part name="body" xmlns:foo="http://example.com/stockquote.xsd" element="foo:tradePriceRequest"/>
  </message>

  <message name="GetLastTradePriceOutput">
    <part name="body" element="xsd1:TradePrice"/>
  </message>

  <message name="GetHistoricalPriceInput">
    <part name="body" element="xsd1:historicalPriceRequest"/>
  </message>

  <message name="GetHistoricalPriceOutput">
    <part name="body" element="xsd1:HistoricalPrice"/>
  </message>

  <portType name="StockQuotePortType">
    <operation name="GetLastTradePrice">
      <input message="tns:GetLastTradePriceInput"/>
      <output message="tns:GetLastTradePriceOutput"/>
    </operation>
    <operation name="GetHistoricalPrice">
      <input message="tns:GetHistoricalPriceInput"/>
      <output message="tns:GetHistoricalPriceOutput"/>
    </operation>
  </portType>

  <binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetLastTradePrice">
      <soap:operation soapAction="http://example.com/GetLastTradePrice"/>
      <input>
        <soap:header use="literal" message="GetLastTradePriceInputHeader" part="header" />
        <soap:header use="literal" message="GetLastTradePriceInputHeader" part="header2" />
        <soap:body use="literal" parts="body"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetHistoricalPrice">
      <soap:operation soapAction="http://example.com/GetHistoricalPrice"/>
      <input>
        <soap:header use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="StockQuoteService">
    <documentation>My first service</documentation>
    <port name="StockQuotePort" binding="tns:StockQuoteSoapBinding">
      <soap:address location="http://example.com%2Fstockquote"/>
    </port>
  </service>

</definitions>
